{% extends "template.html" %}
{% block main %}
{% include "cloud/navigation_bar.html" %}
{% include "cloud/cloud_menu.html" %}
<div class='main-content'>
    <h2>Auto scaling groups</h2>
    <p>
        <a href="/cloud/{{cloud.uuid}}/auto_scaling_group/add">Add auto scaling group</a>
    </p>
    {% if auto_scaling_groups %}
        {% for auto_scaling_group in auto_scaling_groups %}
            {{auto_scaling_group.name}}<br />
        {% endfor %}
    {% endif %}
</div>
<div class='clear'></div>
{% endblock %}
