{% extends "template.html" %}
{% block main %}
{% include "cloud/navigation_bar.html" %}
{% include "cloud/cloud_menu.html" %}
<div class='main-content'>
    <h2>Add new auto scaling group</h2>
    <form name='addAutoScalingForm' action='' method='post'>{% csrf_token %}
    <input type='hidden' name='cloud' id='id_cloud' value='{{cloud.uuid}}'>
    {% for field in form %}
        <p>
            <strong>{{field.label}}</strong><br />
            {{field}} {% for error in field.errors %} {{error}} {% endfor %}
        </p>
    {% endfor %}
    <p><a class="btn" onclick="document.addAutoScalingForm.submit()">Create auto scaling group &raquo;</a></p>
    </form>
</div>
<div class='clear'></div>
{% endblock %}
