{% extends "template.html" %}
{% block main %}
{% include "cloud/cloud_navigation_bar.html" %}
{% include "cloud/cloud_menu.html" %}
<div class='main-content'>
    {% if role_instances == 0 %}
        <h2>Unassign {{role.name}} from {{cloud.name}}?</h2><br />
        <p>
            Are you sure you want to unassign <strong>{{role.name}}</strong> from <strong>{{cloud.name}}</strong>?
        </p><br />
        <form name='unassignRole' action='' method='post'>{% csrf_token %}
        <p>
            <a class="btn" onclick='location.href="/cloud/{{cloud.uuid}}"'>&laquo; No, take me back</a>
            <a class="btn" onclick="document.unassignRole.submit()">Yes, unassign &raquo;</a>
        </p>
        </form>
    {% else %}
        <h2>Forbidden</h2><br />
        <p>
            It is not possible to remove a role with server instances. Please remove all server
            instances before deleting this role.
        </p><br />
        <p>
            <a class="btn" onclick='location.href="/cloud/{{cloud.uuid}}"'>&laquo; Okay, take me back</a>
        </p>
    {% endif %}
</div>
<div class='clear'></div>
{% endblock %}
