{% extends "template.html" %}
{% block main %}
<div class='side-menu'>
    <h3>{{cloud.name}}</h3>
    <ul>
        <li onclick="location.href='/cloud/{{cloud.uuid}}'">Overview</li>
        <li onclick="location.href='/cloud/{{cloud.uuid}}/role/assign'">Assign role</li>
    </ul>
</div>
<div class='main-content'>
    {% if roles %}
        {% for role in roles %}
            <h2>{{role.name}}</h2>
        {% endfor %}
    {% else %}
        No roles has been added to this cloud
    {% endif %}
</div>
<div class='clear'></div>
{% endblock %}
