{% extends "template.html" %}
{% block main %}
{% include "cloud/instance_menu.html" %}
<div class='main-content'>
    <h2>General settings</h2>
    <form name='updateInstanceForm' action='' method='post'>{% csrf_token %}
        {% for field in form %}
            <p>
                <strong>{{field.label}}</strong><br />
                {{field}} {% for error in field.errors %} {{error}} {% endfor %}
            </p>
        {% endfor %}
    <p><a class="btn" onclick="document.updateInstanceForm.submit()">Update instance &raquo;</a></p>
    </form>
</div>
<div class='clear'></div>
{% endblock %}
