{% extends "template.html" %}
{% block main %}
{% include "cloud/instance_navigation_bar.html" %}
{% include "cloud/instance_menu.html" %}
<div class='main-content'>
    <h2>Confirm delete</h2><br />
    <p>
        Are you sure you want to delete the EBS <strong>{{ebs.mountpoint}} ({{ebs.size}} GB)</strong>?
    </p><br />
    <form name='EBSDelete' action='' method='post'>{% csrf_token %}
    <p>
        <a class="btn" onclick='location.href="/cloud/{{cloud.uuid}}/role/{{role_id}}/instance/{{instance.id}}/ebs"'>&laquo; No, take me back</a>
        <a class="btn" onclick="document.EBSDelete.submit()">Yes, delete EBS &raquo;</a>
    </p>
    </form>
</div>
<div class='clear'></div>
{% endblock %}
