{% extends "template.html" %}
{% block main %}
{% include "cloud/instance_navigation_bar.html" %}
{% include "cloud/instance_menu.html" %}
<div class='main-content'>
    <h2>Elastic IP</h2>
    {% if instance.elastic_ips %}
    <h3>Current Elastic IPs</h3>
    <table>
        <tr>
            <th>{{form.dns_name.label}}</th>
            <th>Delete</th>
        </tr>
        {% for elastic_ip in instance.elastic_ips %}
            <tr>
                <td><input type='text' value='{{elastic_ip.dns_name}}' readonly></td>
                <td><a href="/cloud/{{cloud.uuid}}/role/{{role_id}}/instance/{{instance.id}}/elastic_ip/{{elastic_ip.id}}/delete">Remove</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h3>Add more Elastic IP's</h3>
    <form name='addElasticIPForm' action='' method='post'>{% csrf_token %}
        <table>
            <tr>
                <th>{{form.dns_name.label}}</th>
            </tr>
            <tr>
                <td>
                    {{form.dns_name}}
                    {% for error in form.dns_name.errors %}<br/>{{error}}{% endfor %}
                </td>
            </tr>
        </table>
    <br />
    <p><a class="btn" onclick="document.addElasticIPForm.submit()">Add Elastic IP &raquo;</a></p>
    </form>
</div>
<div class='clear'></div>
{% endblock %}
