{% extends "template.html" %}
{% block main %}
{% include "cloud/navigation_bar.html" %}
{% include "cloud/cloud_menu.html" %}
<div class='main-content'>
    <h2>Launch configurations</h2>
    <p>
        <a href="/cloud/{{cloud.uuid}}/launch_config/add">Add launch configuration</a>
    </p>
    {% if launch_configs %}
        {% for launch_config in launch_configs %}
            {{launch_config.name}} - <a href="/cloud/{{cloud.uuid}}/launch_config/delete/{{launch_config.name}}">Delete</a><br />
        {% endfor %}
    {% endif %}
</div>
<div class='clear'></div>
{% endblock %}
