{% extends "template.html" %}
{% load annoying %}
{% block main %}
{% include "cloud/cloud_menu.html" %}
<div id="security_groups" class='main-content'>
    <h2>Security groups</h2>
    {% if security_groups %}
        <div class="security_group_container">
            <table border='0'>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                {% for security_group in security_groups %}
                    <tr>
                        <td>{{security_group.name}}</td>
                        <td>{{security_group.description}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        You have not security groups registered in this region
    {% endif %}
</div>
<div class='clear'></div>
{% endblock %}
