{% extends "template.html" %}
{% load gravatar %}
{% block javascript_head %}
<script language='javascript'>
    /*
    Show only Settings when loading the page
    */
    $(document).ready(function(){
        $("#yourClouds").hide();
        $("#addCloud").show();
    });
    
    /*
    Hide all content
    */
    function hideAll(){
        $("#yourClouds").hide();
        $("#addCloud").hide();
    }
</script>
{% endblock %}
{% block main %}
<div class='side-menu'>
    <h3>Clouds</h3>
    <ul>
        <li onClick='hideAll(); $("#yourClouds").show(150)'>Your clouds</li>
        <li onClick='hideAll(); $("#addCloud").show(150)'>Create a new cloud</li>
    </ul>
</div>
<div id="yourClouds" class='main-content'>
    <h2>Your clouds</h2>
    
</div>
<div id="addCloud" class='main-content'>
    <h2>Create a new cloud</h2>
    <form name='addCloudForm' action='' method='post'>{% csrf_token %}
    {% for field in form %}
        <p>
            <strong>{{field.label}}</strong><br />
            {{field}} {% for error in field.errors %} {{error}} {% endfor %}
        </p>
    {% endfor %}
    <p><a class="btn" onclick="document.addCloudForm.submit()">Create cloud &raquo;</a></p>
    </form>
</div>
<div class='clear'></div>
{% endblock %}
